<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stayle/games.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="img/Rinnen_NBrn.ico">
    <title>Battle Kawaii</title>
</head>

<body id="bodyScore" class="bodyScoreC">
    <h6>Homepage</h6>
    <nav class="navbar navbar-expand-lg navbar-light colorNav">
        <a class="navbar-brand" id="colorHome" href="games.html">Homepage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link" id="colorScore" href="Score.html">Score</a>
            </div>
        </div>
    </nav>
    <div class="container" id="app">

        <div v-if="jugadorAct == null" class="botones">
            <button type="button" class="btn btn-success" v-on:click="logIn" id="logIn">Log in</button>
            <button type="button" class="btn btn-primary" v-on:click="signUp" id="registro">Sign Up</button>
        </div>
        <button type="button" class="btn btn-danger" v-on:click="logOut" id="logOut">Log out</button>
        <button type="button" class="btn btn-light" v-on:click="crearGame()" id="crearJuego">create game</button>
        <audio src="musica/BEASTARS.mp3" autoplay controls></audio>

        <div v-if="jugadorAct == null" class="formulario">
            <form>
                <label>Username: <input type="email" name="mail" v-model:value="mail"></label>
                <label>Password: <input type="password" name="password" v-model:value="password"></label>
            </form>
        </div>

        <div class="gameCreated">
            <ol>
                <li v-for="game in games">
                    {{game.created}}
                    <ol>
                        <li v-for="gamePlayer in game.gamePlayers">
                            {{gamePlayer.player.userName}}

                            <button v-if="jugadorAct != null && gamePlayer.player.userName == jugadorAct.userName"
                                type="button" class="btn btn-primary" v-on:click="backToGame(gamePlayer.id)">Back to
                                game</button>
                            <button
                                v-if="jugadorAct != null && jugadorAct.userName != gamePlayer.player.userName && game.gamePlayers.length == 1"
                                type="button" class="btn btn-primary" v-on:click="joinGame(game.id)">Join game</button>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src=scripts/games.js></script>

</body>

</html>